WorkflowWorker/Service References/OrderProductServiceReference/OrderProduct.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderProduct" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52296/OrderProduct.xamlx?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Data" />
      <xsd:import schemaLocation="http://localhost:52296/OrderProduct.xamlx?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52296/OrderProduct.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Data.Enum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SubmitOrder_InputMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Data" name="Order" element="q1:Order" />
  </wsdl:message>
  <wsdl:message name="IService_SubmitOrder_OutputMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Data" name="Order" element="q2:Order" />
  </wsdl:message>
  <wsdl:message name="IService_ApproveOrder_InputMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Data" name="ManagerResponse" element="q3:ManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ApproveOrder_OutputMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Data" name="Order" element="q4:Order" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SubmitOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SubmitOrder" message="tns:IService_SubmitOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SubmitOrderResponse" message="tns:IService_SubmitOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApproveOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ApproveOrder" message="tns:IService_ApproveOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ApproveOrderResponse" message="tns:IService_ApproveOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitOrder">
      <soap:operation soapAction="http://tempuri.org/IService/SubmitOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveOrder">
      <soap:operation soapAction="http://tempuri.org/IService/ApproveOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderProduct">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:52296/OrderProduct.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>